.App {
  text-align: left;
  width: 80%;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

td.logo {
  width: 140px;
}

td.menu {
  text-align: left;
}

.menu > ul {
  margin-left: 40px;
}

.menu > li {
  display: inline;
  padding: 0.7em;
  color: #ffffff;
  background-color: #005aa1;
}

.menu > li > a {
  color: #ffffff;
  font-size: 0.7em;
  font-weight: bold;
  text-decoration: none;
}

table.menu {
  background-color: #ffffff;
  width: 100%;
}

div.main {
  width: 100%;
  background-color: #ffffff;
  clear: both;
}

div.content {
  margin: 1em;
}

.form > tr > td {
  text-align: left;
}

div.filler {
  margin-top: 1em;
  display: flex;
  align-self: center;
  align-content: center;
  vertical-align: middle;
  color:#ffffff;
  background-color: #005aa1;
}
div.filler > div {
  margin: 2em;
  vertical-align: middle;
}

div.filler > img {
  float: right;
  clear: left;
}

div.flex-container {
  display: flex;
  flex-direction: row;
  margin: 2px;
  padding: 2px;
  min-height: 300px;
}

div.flex-container > table {
  width: 100%;
  height: auto;
}

div.flex-container > table > thead > tr {
  color: #ffffff;
  background-color: #005aa1;
}

div.flex-container > table > thead > tr > td {
  padding: 0.7em;
}

div.flex-container > table > tbody > tr {
  color: #828282;
}

div.footer {
  width: 100%;
  background-color: #373737;
  color: #ffffff;
}

div.fcontent {
  width: 100%;
  padding: 2em;
}

div.fcontent > table {
  width: 100%;
}

div.error {
  margin: 1em;
  color: red;
}